In [51]:
import sqlite3
import pandas as pd
import requests as r
import json

In [86]:
con = sqlite3.connect("data/cascade-6275403559731200-v1.sqlite")
con.row_factory = sqlite3.Row
type(con.cursor())

sqlite3.Cursor

In [87]:
cur = con.cursor()

In [104]:
cur.execute("SELECT * from nodes WHERE parent=0")
rows = cur.fetchall()
rows[0].keys()

['id', 'code', 'name', 'parent']

In [81]:
names = list(map(lambda x: x[0], cur.description))
names

['id', 'code', 'name', 'parent']

In [69]:
df = pd.read_sql_query("SELECT * from nodes WHERE parent=0", con)

In [70]:
api = r.get('https://tech-consultancy.akvo.org/akvo-flow-web-api/cascade/seap/cascade-6275403559731200-v1.sqlite/0')

In [107]:
'code' in api.json()[0]

True

In [73]:
cur.fetchall()

[]

In [25]:
df = pd.read_sql_query("SELECT * from nodes WHERE parent=253", con)

In [26]:
df

    id       code       name  parent
0  145  kotamadya  kotamadya     253
1  365  kabupaten  kabupaten     253

In [29]:
api = r.get('https://tech-consultancy.akvo.org/akvo-flow-web-api/cascade/seap/cascade-6275403559731200-v1.sqlite/253')

In [30]:
api.json()

[{'code': 'kabupaten', 'id': 365, 'name': 'kabupaten', 'parent': 253},
 {'code': 'kotamadya', 'id': 145, 'name': 'kotamadya', 'parent': 253}]