In [47]:
import sqlite3
import pandas as pd
import requests as r
import json

In [38]:
con = sqlite3.connect("data/cascade-6275403559731200-v1.sqlite")
type(con.cursor())

sqlite3.Cursor

In [39]:
cur = con.cursor()

In [40]:
cur.execute("SELECT * from nodes WHERE parent=0")

In [41]:
cur.fetchall()

[(253, 'Dki Jakarta', 'Dki Jakarta', 0)]

In [23]:
df = pd.read_sql_query("SELECT * from nodes WHERE parent=0", con)

In [27]:
api = r.get('https://tech-consultancy.akvo.org/akvo-flow-web-api/cascade/seap/cascade-6275403559731200-v1.sqlite/0')

In [28]:
api.json()

[{'code': 'Dki Jakarta', 'id': 253, 'name': 'Dki Jakarta', 'parent': 0}]

In [48]:
json.dumps(df, default=json_serial)

NameError: name 'json_serial' is not defined

In [25]:
df = pd.read_sql_query("SELECT * from nodes WHERE parent=253", con)

In [26]:
df

    id       code       name  parent
0  145  kotamadya  kotamadya     253
1  365  kabupaten  kabupaten     253

In [29]:
api = r.get('https://tech-consultancy.akvo.org/akvo-flow-web-api/cascade/seap/cascade-6275403559731200-v1.sqlite/253')

In [30]:
api.json()

[{'code': 'kabupaten', 'id': 365, 'name': 'kabupaten', 'parent': 253},
 {'code': 'kotamadya', 'id': 145, 'name': 'kotamadya', 'parent': 253}]